<div class="wrapper">
  <h1>SVG Sprite Symbols in Angular Component</h1>
  <div class="center">
    <app-svg-icon
      [id]="'address-book-outline'"
      [width]="'60px'"
      [height]="'60px'"
    ></app-svg-icon>
    <app-svg-icon
      [id]="'attachment-outline'"
      [width]="'60px'"
      [height]="'60px'"
      [color]="'darkcyan'"
    ></app-svg-icon>
    <app-svg-icon
      [id]="'branch-outline'"
      [width]="'60px'"
      [height]="'60px'"
      [color]="'rebeccapurple'"
    ></app-svg-icon>
    <app-svg-icon
      [id]="'bulb-on-outline'"
      [width]="'60px'"
      [height]="'60px'"
      [color]="'yellowgreen'"
    ></app-svg-icon>
    <app-svg-icon
      [id]="'settings'"
      [width]="'60px'"
      [height]="'60px'"
      [color]="'purple'"
    ></app-svg-icon>
    <app-svg-icon
      [id]="'stack'"
      [width]="'60px'"
      [height]="'60px'"
      [color]="'tomato'"
    ></app-svg-icon>
  </div>
</div>
